image: node:latest

before_script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl

stages:
    - production

production:
    type: deploy
    stage: production
    image: ruby:latest
    script:
        - dpl --provider=heroku --app=filmswe --api-key=815f8484-bf72-4805-9c8c-740c9c6f1fd6
    only:
        - master
